* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--primary-color2);
}

ul,
ol {
    list-style: none;
}

.content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

:root {
    --primary-color1: #cda274;
    --primary-color2: #292f36;
    --primary-color3: #f4f0ec;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row-center {
    align-items: center;
}

.btn-default,
.btn-large,
.btn-color {
    display: inline-block;
    padding: 26px 54px;
    border-radius: 18px;
    background: var(--primary-color2);
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.36px;
}

.btn-default:hover,
.btn-large:hover,
.btn-color:hover {
    cursor: pointer;
}

.btn-default {
    min-width: 109px;
}

.btn-large {
    min-width: 134px;
}

.btn-color {
    min-width: 87px;
    background: var(--primary-color1);
}

.fa-arrow-right {
    margin-left: 8px;
    color: var(--primary-color1);
}

.read-more {
    margin-top: 52px;
    color: #4d5053;
    text-align: center;
    font-size: 1.8rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.36px;
}

.large-p {
    color: #4d5053;
    font-size: 2.2rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.22px;
}

.medium-p {
    color: #4d5053;
    font-size: 2rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.small-p {
    color: #4d5053;
    font-size: 1.8rem;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.18px;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color2);
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

h1 {
    font-size: 8.5rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2.5rem;
}

.banner {
    position: relative;
    text-align: center;
}

.banner-img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
}

.banner-box {
    position: absolute;
    bottom: 0;
    padding: 20px 65px;
    border-radius: 37px 37px 0px 0px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}
